.App {
  text-align: center;
  cursor: default;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #121212;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.devNav{
  width: 60%;
  min-width: 400px;
  display: flex;
  margin: auto;

}



.devLink{
  flex: 1 1 0;
  color: peachpuff;
  text-decoration: none;
}

.devLink:visited{
  color: peachpuff;
  text-decoration: none;
}

#title, #title:visited, #title:active{
  font-family: Righteous, cursive;
  letter-spacing: 0.08em;
  font-size: 2.2em;
  text-decoration:none;
  color: white;
}