.App {
  text-align: center;
  cursor: default;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #121212;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.devNav{
  width: 60%;
  min-width: 400px;
  display: flex;
  margin: auto;

}

.devLink{
  flex: 1 1 0;
  color: peachpuff;
  text-decoration: none;
}

.devLink:visited{
  color: peachpuff;
  text-decoration: none;
}

#title, #title:visited, #title:active{
  font-family: Righteous, cursive;
  letter-spacing: 0.08em;
  font-size: 2.2em;
  text-decoration:none;
  color: white;
}

.flask-button{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: lightskyblue;
}

.infobox{
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  color: #0d3349;
  background-color: papayawhip;
  position: absolute;
  bottom: 5px;
  left: -1000px;
  padding: 10px;
  z-index:100;
  opacity: 0;
  transition:  left 1s, opacity 0.5s;
}

.infoboxList{
  text-align: center;
  color: #2b81af;
  font-size: 1em;
}

.infoboxTitle{
  color: black;
  font-size: 1.1em;
  text-decoration: underline;
}

.infoboxGit{
  padding-top: 15px;
  color: black;
}
.infoboxGit:link{
  color: maroon;
}

.closebutton{
  text-align: right;
  width: 90%;
  margin: 0; padding:0;
}