.MenuSquareContainer{
    flex: 1 1 0;
    width:222px;
    height:222px;
    margin-top: 30px;

}



.MenuSquareContainer a{
	color: white;
}

.MenuImageDiv{
    padding-top: 10px;
    width:200px;
    height:200px;
    background-color: black;
    position: relative;
}

.drinkRating{
    color: #df82ec;
    font-size: 0.9em;
}

/*This part shows the square*/

.MenuImage{
    width: 222px;
    height: 222px;


}

.TopInfo{
    position: absolute;
	text-align: center;
	top: 0; right: 0; left: 0; bottom: 0;
    font-family: Tahoma, Geneva, sans-serif;
    color: #adcbfe;
}

/*This part is the hidden until on hover*/
.MenuText{
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    width: 212px;
    line-height:212px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.6);
    color:white;
    opacity: 0;
	border-style: solid
}

.MenuText h3{
    color: white;
    display: inline-table;
    vertical-align:middle;
    line-height:100%;
}

/*Unhides on hover*/
.MenuText:hover{
    opacity: 1;
}
